@using SageOwl.UI.ViewModels.Announcements
@model AnnouncementViewModel

<div class="announcement">
    <p class="announcement_title">@Model.Title</p>
    <hr />
    <p class="announcement_content">
        @Model.Content
    </p>
    <p class="announcement_info">Publish by: @Model.PublisherName on @Model.SentAt</p>
</div>
