<div class="announcement">
    <p class="announcement_title">Remember the final test</p>
    <hr />
    <p class="announcement_content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id metus id elit placerat volutpat lacinia ac justo. Curabitur vel orci id massa cursus pulvinar. Nunc sagittis lacus vitae mattis tincidunt. Donec pellentesque semper auctor. Duis pharetra justo sed tempor tempor. Integer elementum, neque eu scelerisque vulputate, purus augue vehicula lacus, a dapibus turpis turpis a lacus. Fusce efficitur ullamcorper pharetra.
    </p>
    <p class="announcement_info">Publish by: John Doe on July 7, 2025 at 7:30 pm</p>
</div>
