@model SageOwl.UI.ViewModels.Forms.FormViewModel

<div class="form_card">
    <p class="form_card_title">@Model.Title</p>
    <p class="form_card_deadline">Deadline: @Model.Deadline</p>
    <button class="form_card_button">Start</button>
</div>
