@model PlanViewModel

<div class="priceCard">
    <p class="priceCard_title">@Model.Title</p>
    <ul class="priceCard_list">
        @foreach(var item in Model.Characteristics)
        {
            <li class="priceCard_item">@item</li>
        }
    </ul>

    <div class="priceCard_button_list">
        @if (Model.MonthlyCost.HasValue)
        {
            <button class="priceCard_button">@Model.MonthlyCost.Value$ Monthly</button>
        }
        @if (Model.YearlyCost.HasValue)
        {
            <button class="priceCard_button">@Model.YearlyCost.Value$ Yearly</button>
        }
    </div>
</div>
