<div class="team_navigation">
    <a class="team_navigation_item">MainPage</a>
    <a class="team_navigation_item">Announcements</a>
    <a class="team_navigation_item">Forms</a>
    <a class="team_navigation_item">Qualifications</a>
    <a class="team_navigation_item">Description</a>
</div>
