*{
    margin:0;
    padding:0;
}

.team_create_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius:20px;
    align-items:center;
}

.create_team_submit {
    border-radius: 10px;
    background-color: #A74E47;
    height:40px;
    width:120px;
    color:white;
    border:none;
    font-size:18px;
}
.team_create_input{
    display:flex;
    flex-direction:column;
    width:100%;
}

.team_create_members {
    display: flex;
    flex-direction: column;
}
.search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.search_bar_button {
    background-color: #A74E47;
    height: 40px;
    width: 60px;
    color: white;
    border-radius: 0 10px 10px 0;
}

.member_container {
    background-color: #EDEDED;
    height:300px;
    border-radius:10px;
    padding:10px;
}

#memberResults,
#adminResults {
    position: absolute;
    top: 100%; /* justo debajo del input */
    left: 0;
    width: 100%; /* que ocupe el mismo ancho que la barra */
    max-height: 200px; /* scroll si hay muchos resultados */
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    z-index: 1000; /* que se sobreponga a los containers */
}
