@{
    ViewBag.Title = "Team Description";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}
@model TeamDescriptionViewModel

        <main class="team_description_main">
            @await Component.InvokeAsync("TeamNavigation", new { teamId = Model.TeamId})
            <p>@Model.Description</p>
        </main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}