@using SageOwl.UI.ViewModels.Teams.UI

@{
    ViewBag.Title = "Team Forms";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

@model TeamFormsPageViewModel

<style>
    .form_button {
        display: flex;
        gap: 20px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        background-color: #22C55E;
        width: 260px;
        height: 50px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-weight: bold;
    }

        .form_button:hover,
        .form_button:active {
            background-color: #1FA350;
            color: white;
            transform: scale(0.95);
        }
</style>

<main class="team_forms_main">
    @await Component.InvokeAsync("TeamNavigation", 
    new{ 
        teamId = Model.TeamId,
        url = Url.Action("mainPage", "Team", new{ teamId = Model.TeamId})
    })

    <a class="form_button" asp-controller="Form" asp-action="Create">
        <i class="fa-solid fa-plus"></i>
        <p>Create Form</p>
    </a>

    <div class="team_forms_main_container">

        @if (Model.Forms.Count == 0)
        {
            <div class="team_forms_img">
                <img src="~/images/team_work.svg" alt="Team_Work" width="400" height="400" />
                <h5>There are no <b>Forms</b> yet</h5>
            </div>
        }
        else
        {
            @foreach (var form in Model.Forms)
            {
                @await Html.PartialAsync("~/Views/Shared/PartialViews/_FormCard.cshtml", form)
            }
        }

    </div>
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}