@{
    ViewBag.Title = "Team Forms";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}


        <main class="team_forms_main">
            @await Html.PartialAsync("~/Views/Shared/Components/_TeamNavigation.cshtml")
            <div class="team_forms_main_container">
                @*
                @await Html.PartialAsync("~/Views/Shared/Components/_FormCard.cshtml")
                *@
            </div>
        </main>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}