@using SageOwl.UI.ViewModels.Teams.UI
@{
    ViewBag.Title = "Team Forms";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

@model TeamFormsPageViewModel

<main class="team_forms_main">
    @await Component.InvokeAsync("TeamNavigation", new{ teamId = Model.TeamId })
    <div class="team_forms_main_container">

        @if (Model.Forms.Count == 0)
        {
            <div class="team_forms_img">
                <img src="~/images/team_work.svg" alt="Team_Work" width="400" height="400" />
                <h5>There are no <b>Forms</b> yet</h5>
            </div>
        }
        else
        {
            @foreach (var form in Model.Forms)
            {
                @await Html.PartialAsync("~/Views/Shared/PartialViews/_FormCard.cshtml", form)
            }
        }

    </div>
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}