* {
    padding: 0;
    margin: 0;
}

.team_forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F4F4F6;
    padding: 0 16px;
}

.team_forms_body {
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

.team_forms_body::-webkit-scrollbar {
    display: none; /*Google,Safari*/
}

.team_forms_main {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 0 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.team_forms_main_container {
    display: flex;
    flex-direction: column
}
