@{
    ViewBag.Title = "Team Qualifications";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

@model CurrentTeam

<table>
    <thead>
        <tr>
            @foreach (var m in Model.Members)
            {
            <tr>
                <td>@m.Id</td>
            </tr>
        }
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Members)
        {
            <tr>
                <td>@m.Username</td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).on("click", ".nav-icon", function () {
        const targetUrl = $(this).data("url");
        if (targetUrl) {
            window.location.href = targetUrl;
        }
    });
    </script>
}