.qualification_table {
    border-collapse: collapse;
    width: 300px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}
