@{
    ViewData["Title"] = "Announcements";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

@model List<AnnouncementViewModel>

<main class="workspace_announcements_main">
    @foreach (var announcement in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_Announcement.cshtml", announcement)
    }

</main>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}
