@{
    ViewData["Title"] = "My Teams";
    Layout = "~/Views/Shared/_WorkspaceLayout.cshtml";
}

<div class="workspace_forms">
    @await Html.PartialAsync("~/Views/Shared/Components/_WorkspaceHeader.cshtml", new WorkspaceHeaderViewModel
    {
        Title = "Forms",
        Url = Url.Action("Index", "Workspace")
        })
    <div class="workspace_forms_body">
        <main class="workspace_forms_main">
            @await Html.PartialAsync("~/Views/Shared/Components/_FormCard.cshtml")
            @await Html.PartialAsync("~/Views/Shared/Components/_FormCard.cshtml")
        </main>
        @await Html.PartialAsync("~/Views/Shared/Components/_SidePanel.cshtml")
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}
