@{
    ViewData["Title"] = "My Teams";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

@model List<SageOwl.UI.ViewModels.Forms.FormViewModel>

<main class="workspace_forms_main">
    @foreach (var form in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/Components/_FormCard.cshtml",form)
    }
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}
