@{
    ViewData["Title"] = "My Teams";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

@model List<FormViewModel>

<main class="workspace_forms_main">
    @foreach (var form in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_FormCard.cshtml", form)
    }
</main>
