*{
    margin:0;
    padding:0;
}

.workspace_body_main {
    display: flex;
    flex-direction: column;
}

.workspace_body_main_announcements{
    margin:10px 0;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:20px;
}

.workspace_body_info {
    display: flex;
    flex-direction: row;
    height: 30px;
    gap: 50px;
    align-items: baseline;
}

.workspace_body_info p{
    font-size:24px;
    font-weight:bold;
}

.workspace_body_info a {
        font-size: 18px;
        color: #A03E37;
 }

    .workspace_body_info a:hover {
        text-decoration: underline;
        text-decoration-color: #A03E37;
        cursor:pointer;
    }
