@model List<QualificationViewModel>

@{
    ViewData["Title"] = "Workspace";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

<style>
    .qualification_button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        background-color: #9C3D2A;
        width: 200px;
        height: 40px;
        font-size: 18px;
        margin: 20px 0;
        border-radius: 10px;
        cursor: pointer;
    }

        .qualification_button:active,
        .qualification_button:hover {
            background-color: #7D2516;
            color: white;
        }

    #periodSelect {
       width:200px;
    }
</style>

<main class="workspace_qualifications_main">
    @if (Model.Count > 0)
    {
        <div class="search_container">
            <select id="periodSelect">
                @foreach (var q in Model)
                {
                    <option value="@q.QualificationId">
                        @q.Period
                    </option>
                }
            </select>
            <button type="button" onclick="search()">
                Search
            </button>
        </div>
    }

    @if (Model.Count == 0)
    {
        <p>No Qualifications Available</p>
    }
    else
    {
        <div id="qualificationContainer">
        </div>
    }
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>

    <script>
        async function loadProduct(id){

            const response = await fetch(`/qualification/QualificationPartial?id=${id}`);

            const html = await response.text();

            document.getElementById("qualificationContainer").innerHTML = html;
        }

        function search(){

            const id =
                document.getElementById("periodSelect").value;

            loadProduct(id);
        }
    </script>
}
