@{
    ViewData["Title"] = "My Teams";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}
@model List<TeamCardViewModel>

<style>
    .team_button {
        display:flex;
        gap:20px;
        color:white;
        cursor: pointer;
        text-decoration: none;
        background-color: #22C55E;
        width: 200px;
        height: 50px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-weight:bold;
    }

    .team_button:hover,
    .team_button:active {
        background-color: #1FA350;
        color:white;
        transform: scale(1.05);
    }
</style>

<main class="workspace_teams_main">
    <h2 class="team_header">Teams</h2>
        <a class="team_button" asp-controller="Team" asp-action="Create">
            <i class="fa-solid fa-plus"></i>
            <p>CreateTeam</p>
        </a>

    <div class="team_container">
        @foreach (var team in Model)
        {
            @await Html.PartialAsync("~/Views/Shared/PartialViews/_TeamCard.cshtml", new TeamCardViewModel
            {
                TeamId = team.TeamId,
                Name = team.Name
            })
         }
    </div>

</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}
