@{
    ViewData["Title"] = "My Teams";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}
@model List<TeamCardViewModel>

<main class="workspace_teams_main">

    @foreach(var team in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_TeamCard.cshtml", new TeamCardViewModel
        {
            TeamId = team.TeamId,
            Name = team.Name,
            Initials = team.Initials
        })
    }
</main>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}
