@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
    <div class="login">
        <div class="login_form">
            <p class="login_form_title">Hello, Again</p>
            <div class="login_form_wrapper">
            <div class="login_form_input">
                <div class="login_form_input_img">
                    <img/>
                </div>
                <input placeholder="Email or username"/>
            </div>
            <div class="login_form_input">
                <div class="login_form_input_img">
                    <img />
                </div>
                <input placeholder="Password" type="password"/>
            </div>
        </div>
        <a href="/account/register" class="login_forgot hypertext">I forgot my password</a>
            <button class="login_btn">Log In</button>

            <div class="login_info">
                <p>You don't have an account?</p>
            <a class="hypertext" href="/account/register">Sign Up Now</a>
            </div>
        </div>
        <div class="login_img_container">
        </div>
    </div>


