*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#d9d9d9;
}

.home_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fc4a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8E2C14, #E44E29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8E2C14, #E44E29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.info {
    width: 100%;
    height: calc(100vh - 70px);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info_wrapper{
    display:flex;
    flex-direction:column;
    width:700px;
    padding-left:70px;
    gap:20px;
}

.info_description{
    font-size:24px;
}

.info_title{
    font-weight:bold;
    font-size:36px;
}

.info_button {
    margin-top:60px;
    box-shadow:5px 5px 20px rgba(0,0,0,0.25);
    text-align:center;
    font-size:22px;
    border-radius:10px;
    width: 360px;
    padding: 10px;
    color: white;
    background-color: #2E8D43;
    border:none;
}

.contact_section {
    display: flex;
    padding:40px 20px;
    background-color: #E44E29;
    justify-content:space-evenly;
    flex-direction: row;
}

.contact_section_info{
    color:white;
    display:flex;
    flex-direction:column;
}

.contact_title{
    font-size:28px;
    font-weight:bold;
}

.contact_description{
    font-size: 20px;
}

.contact_form {
    width:600px;
    align-items:end;
}

.contact_input {
    margin:5px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    padding:10px;
    width:100%;
}

#contact_button {
    width:200px;
    margin-left:auto;
    margin-top:15px;
    padding:10px;
    border:none;
    color: white;
    border-radius: 10px;
    background-color: #2E8D43;
}

#contact_message{
    height:160px;
    resize:none;
}



.image-container {
    position: relative;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url("/images/person_smiling2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    clip-path: inset(0 70px 0 0);
    z-index: 1;
    overflow:hidden;
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);
}

.borderline{
    border-bottom:3px dotted #767676;
    font-size:28px;
}

.price_section{
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:40px;
}

.about_section{
    padding:40px;
    gap:10px;
    display:flex;
    flex-direction:column;
}

.about_container {
    width: 100%;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 220px 220px;
    justify-content:center;
    gap:40px;
}

.about_card {
    width: 250px;
    height: 220px;
    background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.3)),url("/images/person_smiling2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.about_title{
    font-size:22px;
}

.about_description {
    opacity: 0;
    transition: opacity 0.3s ease;
    display:none;
    font-size:16px;
}

.about_card:hover, about_card:focus {
    background: linear-gradient(to top, rgba(44,44,44,0.9), rgba(0,0,0,0.7)),url("/images/person_smiling2.jpg");
    background-position: center;
    background-size: cover;
}
    .about_card:hover .about_description,
    .about_card:focus .about_description {
        opacity: 1;
        display: block;
    }

@media only screen and (max-width:600px) {
    .info{
        flex-direction:column;
        align-items:center;
        height:auto;
    }
    .info img{
        width:300px;
        height:300px;
    }
    .info_title{
        font-size:28px;
    }

    .info_description{
        font-size:22px;
    }

    .info_wrapper{
        width:100%;
        padding:20px;
    }

    .info_button{
        font-size:18px;
        padding:8px;
        width:300px;
        margin-top:10px;
    }

    .image-container {
        width: 300px;
        height: 300px;
        clip-path: inset(0 0 70px 0);
    }
        .plans_list{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .contact_section{
        flex-direction:column;
        gap:20px;
    }

    .contact_form{
        width:100%;
    }
    .contact_title{
        font-size:24px;
    }

    .contact_description{
        font-size:18px;
    }

    .about_container {
        display: flex;
        flex-direction: column;
        align-items:center;
        gap:10px;
    }

    .price_section{
        padding:20px;
    }

    .about_section {
        padding: 20px;
    }

    .borderline{
        font-size:24px;
    }
}

@media only screen and (min-width:601px) and (max-width:1024px){
    .info {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .info_wrapper {
        width: 100%;
        padding: 20px;
    }
    .info_title {
        font-size: 28px;
    }

    .info_description {
        font-size: 22px;
    }


    .info_button {
        font-size: 18px;
        padding: 8px;
        width: 300px;
        margin-top: 10px;
    }

    .image-container {
        width: 300px;
        height: 300px;
        clip-path: inset(0 0 70px 0);
    }

    .plans_list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact_section {
        flex-direction: column;
        gap: 20px;
        align-items:center;
        padding:40px 60px;
    }

    .contact_form{
        width:500px;
    }
    .contact_title {
        font-size: 24px;
    }

    .contact_description {
        font-size: 18px;
    }

    .about_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .price_section {
        padding: 20px;
    }

    .about_section {
        padding: 20px;
    }

    .borderline {
        font-size: 24px;
    }
} 