@{
    ViewData["Title"] = "Home";
    var plan1 = new PlanViewModel
    {
        Title = "Free Plan",
        Characteristics = new List<string>{"Create and fill out forms","Create max 5 teams","Create max 20 forms","Access to advices from teams"}
    };

    var plan2 = new PlanViewModel
    {
        Title = "Duo Plan",
                Characteristics = new List<string> { "Create and fill out forms", "Create max 50 teams", "Create max 200 forms", "Access to advices from teams","Access to dashboard","Up to 10 associated accounts" },
        MonthlyCost = 39.9m,
        YearlyCost = 69.9m
    };

    var plan3 = new PlanViewModel
    {
        Title = "Business Plan",
                Characteristics = new List<string> { "Create and fill out forms", "Create unlimited teams", "Create unlimited forms", "Access to advices from teams","Access to dashboard","Unlimited associated accounts" },
        MonthlyCost = 59.9m,
        YearlyCost = 99.9m
    };
}

<div class="home">
    <div class="info">
    <div class="info_wrapper">
        <p class="info_title">Education to the next level</p>
        <p class="info_description">An interactive software platform designed to streamline academic assessment processes. This application is tailored for managing, creating, and delivering academic solutions efficiently and securely.</p>
        <button class="info_button">See our products plans</button>
    </div>
    <img src="images/teaching.svg" width="480" height="480"/>
</div>
    <div class="plans_list">
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_PriceCard.cshtml", plan1)
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_PriceCard.cshtml", plan2)
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_PriceCard.cshtml", plan3)
    </div>
    <div class="contact_section">
        <div class="contact_section_info">
            <p class="contact_title">Let's work together!</p>
            <p class="contact_description">
                Have questions or need assistance? We're here to help!
                Feel free to reach out to us at support@example.com and we'll get back to you as soon as possible.
            </p>
        </div>
        <div class ="contact_form">
            <form>
                <input class="contact_input" placeholder="Email" />
                <input class="contact_input" placeholder="Subject" />
                <textarea id="contact_message" class="contact_input" placeholder="Message"></textarea>
                <input id="contact_button" type="submit" value="Send" />
            </form>
        </div>


    </div>
</div>
