*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:roboto;
}

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fc4a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8E2C14, #E44E29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8E2C14, #E44E29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    align-content: center;
    justify-content: space-between;
}

.header_menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    align-content: center;
    justify-content: center;
}

    .header_menu li {
        display: flex;
        justify-content: center;
        align-items: center;
    }


.header_link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

    .header_link:hover,
    .header_link:active {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
    }

.header_logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.header_login {
    text-align: center;
    text-decoration: none;
    min-width: 120px;
    color: white;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: bold;
    margin-left: 40px;
}
.info {
    width: 100%;
    height: calc(100vh - 70px);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info_wrapper{
    display:flex;
    flex-direction:column;
    width:700px;
    padding-left:70px;
    gap:20px;
}

.info_description{
    font-size:24px;
}

.info_title{
    font-weight:bold;
    font-size:36px;
}

.info_button {
    margin-top:60px;
    box-shadow:5px 5px 20px rgba(0,0,0,0.25);
    text-align:center;
    font-size:22px;
    border-radius:10px;
    width: 360px;
    padding: 10px;
    color: white;
    background-color: #2E8D43;
    border:none;
}

.contact_section {
    display: flex;
    padding:40px 20px;
    background-color: #E44E29;
    justify-content:space-evenly;
    flex-direction: row;
}

.contact_section_info{
    color:white;
    display:flex;
    flex-direction:column;
}

.contact_title{
    font-size:28px;
    font-weight:bold;
}

.contact_description{
    font-size: 20px;
}

.contact_form {
    width:600px;
    align-items:end;
}

.contact_input {
    margin:5px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    padding:10px;
    width:100%;
}

#contact_button {
    width:200px;
    margin-left:auto;
    margin-top:15px;
    padding:10px;
    border:none;
    color: white;
    border-radius: 10px;
    background-color: #2E8D43;
}

#contact_message{
    height:160px;
    resize:none;
}

.plans_list{
    margin:20px 0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.image-container {
    position: relative;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url("/images/person_smiling2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    clip-path: inset(0 70px 0 0);
    z-index: 1;
    overflow:hidden;
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);
}

@media only screen and (max-width:600px) {
    .info{
        flex-direction:column;
        align-items:center;
        height:auto;
    }
    .info img{
        width:300px;
        height:300px;
    }
    .info_title{
        font-size:28px;
    }

    .info_description{
        font-size:22px;
    }

    .info_wrapper{
        width:100%;
        padding:20px;
    }

    .info_button{
        font-size:18px;
        padding:8px;
        width:300px;
        margin-top:10px;
    }

    .image-container {
        width: 300px;
        height: 300px;
        clip-path: inset(0 0 70px 0);
    }
        .plans_list{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .contact_section{
        flex-direction:column;
        gap:20px;
    }

    .contact_form{
        width:100%;
    }
    .contact_title{
        font-size:24px;
    }

    .contact_description{
        font-size:18px;
    }
}

@media only screen and (min-width:601px) and (max-width:1024px){
    .info {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .info_wrapper {
        width: 100%;
        padding: 20px;
    }
    .info_title {
        font-size: 28px;
    }

    .info_description {
        font-size: 22px;
    }


    .info_button {
        font-size: 18px;
        padding: 8px;
        width: 300px;
        margin-top: 10px;
    }

    .image-container {
        width: 300px;
        height: 300px;
        clip-path: inset(0 0 70px 0);
    }

    .plans_list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact_section {
        flex-direction: column;
        gap: 20px;
        align-items:center;
        padding:40px 60px;
    }

    .contact_form{
        width:500px;
    }
    .contact_title {
        font-size: 24px;
    }

    .contact_description {
        font-size: 18px;
    }
} 