@using SageOwl.UI.Helpers

@model List<Plan>

<div class="home">
    <div class="home_section">
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_Header.cshtml")

        <div class="info">
            <div class="info_wrapper">
                <p class="info_title">Education to the next level</p>
                <p class="info_description">An interactive software platform designed to streamline academic assessment processes. This application is tailored for managing, creating, and delivering academic solutions efficiently and securely.</p>
                <button class="info_button">See our products plans</button>
            </div>
            <div class="image-container">
            </div>
        </div>
    </div>

    <div class="price_section">
        <h4 class="borderline">Learn more about our plans</h4>
            @await Html.PartialAsync("~/Views/Shared/PartialViews/_PriceCard.cshtml",Model)

    </div>

    <div class="about_section">
        <h4 class="borderline">About our software</h4>
        <div class="about_container">
            <div class="about_card">
                <p class="about_title">Easy to use</p>
                <p class="about_description">
                    We made an application easy to
                    use for people of every age
                </p>
            </div>
            <div class="about_card">
                <p class="about_title">Easy to use</p>
                <p class="about_description">
                    We made an application easy to
                    use for people of every age
                </p>
            </div>
            <div class="about_card">
                <p class="about_title">Easy to use</p>
                <p class="about_description">
                    We made an application easy to
                    use for people of every age
                </p>
            </div>
            <div class="about_card">
                <p class="about_title">Easy to use</p>
                <p class="about_description">
                    We made an application easy to
                    use for people of every age
                </p>
            </div>
        </div>
    </div>

    <div class="contact_section">
        <div class="contact_section_info">
            <p class="contact_title">Let's work together!</p>
            <p class="contact_description">
                Have questions or need assistance? We're here to help!
                Feel free to reach out to us at support@example.com and we'll get back to you as soon as possible.
            </p>
        </div>
        <div class ="contact_form">
            <form>
                <input class="contact_input" placeholder="Email" />
                <input class="contact_input" placeholder="Subject" />
                <textarea id="contact_message" class="contact_input" placeholder="Message"></textarea>
                <input id="contact_button" type="submit" value="Send" />
            </form>
        </div>


    </div>
</div>

