* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #221F1F;
    color:white;
    padding:15px 0;
    gap:10px;
}

.footer_title{
    font-weight:bold;
    font-size:24px;
}

.footer_descrption{
    font-size:22px;
}

.footer_socialMedia_container{
    display:flex;
    flex-direction:row;
    gap:20px;
}

.footer_socialMedia{
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    border:1px white solid;
    border-radius:50%;
}

.footer_socialMedia i{
    font-size:24px;
}

@media only screen and (max-width:600px) {
    .header_menu{
        display:none;
    }
    .footer{
        padding:20px;
    }
    .footer_title{
        font-size:20px;
    }

    .footer_descrption{
        font-size:12px;
    }
    
}

@media only screen and (min-width:601px) and (max-witdh:1024px) {
} 