<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SageOwl.UI.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          integrity="sha512-D3dXq3W9tDL3m3s4mB+6m3zZ5bKqWk/f2Z2iX1hEZM1t7jzNUHhxz1v7RrK5SnWZVflcI7yU62dBtKm1ZDyRBA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head> 
<body>
   @RenderBody()

    <footer class="footer">
        <p class="footer_title">SageOwl Software</p>
        <p class="footer_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis quam efficitur tincidunt consectetur. Cras diam neque, consequat at venenatis suscipit, cursus eget purus</p>
        <div class="footer_socialMedia_container">
            <div class="footer_socialMedia">
                <i class="fab fa-facebook"></i>
            </div>
            <div class="footer_socialMedia">
                <i class="fab fa-x-twitter"></i>
            </div>
            <div class="footer_socialMedia">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="footer_socialMedia">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
