<div class="priceCard">
    <p class="priceCard_title">Duo Plan</p>
    <ul class="priceCard_list">
        <li class="priceCard_item">Create and fill out forms</li>
        <li class="priceCard_item">Create max 50 Teams</li>
    </ul>
    <div class="priceCard_button_list">
        <button class="priceCard_button">19,99$ Monthly</button>
        <button class="priceCard_button">39,99$ Yearly</button>
    </div>
</div>
