@{
    ViewBag.Title = "Create Form";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

@model CreateFormViewModel

<style>
    .create_form {
        display: flex;
        flex-direction: column;
        padding: 16px;
        background-color: white;
        border-radius: 24px;
        gap: 8px;
    }

    .remove_option {
        border: none;
        outline:none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        background-color: #E64D2E;
        border-radius: 12px;
        height: 40px;
        width: 100px;
    }

    .remove_option:hover,
    .remove_option:active {
        transform: scale(0.9);
        transition: 0.2s transform ease;
        background-color: #B33C24;
    }
</style>

<main class="form_create_main">
    <h3>Create Form</h3>

    <form class="create_form" asp-action="Create" asp-controller="Form" method="post">
        <h4>Form Settings</h4>
        <hr />
        <div class="create_form_settings">
            <div class="create_form_input">
                <label asp-for="NewForm.TeamId">Team:</label>
                <select asp-for="NewForm.TeamId">
                    @foreach (var name in Model.TeamNames)
                    {
                        <option value="name">@name</option>
                    }
                </select>
            </div>

            <div class="create_form_input">
                <label asp-for="NewForm.Title">Form Title: </label>
                <input asp-for="NewForm.Title" placeholder="Type the form title" />
            </div>

            <div class="create_form_input">
                <label asp-for="NewForm.Deadline">Deadline: </label>
                <input asp-for="NewForm.Deadline" type="date" />
            </div>
        </div>

        <h4>Questions</h4>
        <hr />
        <div class="form_create_card_container" id="form_container">
            <div class="form_create_card">
                <div class="form_create_choice">
                    <div class="form_create_choice_Body">
                        <input class="question_type" asp-for="NewForm.Questions[0].QuestionType" type="radio" value="CLOSED" />
                        <label asp-for="NewForm.Questions[0].QuestionType">Closed Question</label>
                    </div>
                    <div class="form_create_choice_Body">
                        <input class="question_type" asp-for="NewForm.Questions[0].QuestionType" type="radio" value="OPENED" checked/>
                        <label asp-for="NewForm.Questions[0].QuestionType">Opened Question</label>
                    </div>
                </div>
                <textarea placeholder="Question Text" asp-for="NewForm.Questions[0].Text"></textarea>
                <div class="form_create_option_list optionsContainer">

                </div>
                <div class="create_form_btn_container">
                    <a href="#" class="add_option">Add Option</a>
                    <a href="#" class="remove_question">Delete</a>
                </div>
            </div>
        </div>
        <div class="create_form_btn_container">
            <button class="add_question" id="add_question">Add Question</button>
            <button type="submit" class="submit">Save</button>
        </div>
    </form>
</main>

@section Scripts {
    <script src="~/js/create-form.js"></script>
}
