@{
    ViewBag.Title = "Form Results";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}
<main class="form_results">
    <h4>Equations I Form Results</h4>

    <h5>Solved Test</h5>
    <table class="results_table answered">
        <colgroup>
            <col style="width: 20%">
            <col style="width: 60%">
            <col style="width: 20%">
        </colgroup>
        <thead>

            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>4/10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>4/10</td>
            </tr>

        </tbody>
    </table>

    <h5>Unanswered Test</h5>
    <table class="results_table unanswered">
        <colgroup>
            <col style="width: 20%">
            <col style="width: 80%">
        </colgroup>
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
            </tr>
        </tbody>
    </table>
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on("click", ".nav-icon", function () {
            const targetUrl = $(this).data("url");
            if (targetUrl) {
                window.location.href = targetUrl;
            }
        });
    </script>
}