<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SageOwl.UI.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="workspace">
        @await Html.PartialAsync("~/Views/Shared/Components/_SideMenu.cshtml")
        <div class="workspace_body">
            @await Html.PartialAsync("~/Views/Shared/Components/_SidePanel.cshtml")
            <div class="workspace_main">
                @RenderBody()
            </div>
            @await Component.InvokeAsync("WorkspaceHeader", 
            new { title = ViewData["HeaderTitle"] ?? "Workspace", url = ViewData["HeaderUrl"] ?? Url.Action("Index", "Workspace") })

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
<script>
    $('#menuToggle').on('click', function () {
        let $icon = $('#menuIcon');
        let $btn = $('#menuToggle');
        let $menu = $('#sidebar')

    if ($icon.hasClass('fa-bars')) {
        $icon.removeClass('fa-bars').addClass('fa-xmark');
        $btn.removeClass('menuShadow');
        $menu.addClass('barFlex').css('display', 'flex');
    } else {
        $icon.removeClass('fa-xmark').addClass('fa-bars');
        $btn.addClass('menuShadow');
        $menu.removeClass('barFlex').css('display', 'none');
    }
    });
</script>