@using SageOwl.UI.ViewModels.UI
@model WorkspaceHeaderViewModel

<div class="workspace_header">
    <div class="profile_container">
        
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_ProfileInfo.cshtml", new ProfileInfoViewModel
        { Name = $"{@Model.ProfileInfo.Name}", Username = $"{@Model.ProfileInfo.Username}"})
        
    </div>

</div>
