*{
    margin:0;
    padding:0;
}

.announcement {
    background-color: #FFCFB2;
    width: 100%;
    max-width:700px;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.announcement_title{
    font-weight:bold;
    font-size:22px;
}
.announcement_content{
    font-size:20px;
    margin-top:5px;
}

.announcement_info {
    font-size: 18px;
    margin-top:5px;
}