*{
    margin:0;
    padding:0;
}

.priceCard{
    box-shadow:2px 5px 10px rgba(0,0,0,0.25);
    width:380px;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    overflow:hidden;
    background-color:white;
}

.priceCard_title {
    text-align: center;
    color: white;
    background: linear-gradient(45deg, #D76F25,#EDC835);
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.priceCard_list{
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:20px 10px;
}

.priceCard_item{
    font-size:18px;
    border-bottom:1px solid #767676;
}

.priceCard_item_title {
    color:#767676;
    font-weight:bold;
}