@model PlanViewModel

<div class="priceCard">
    <p class="priceCard_title">@Model.Title</p>
    <ul class="priceCard_list">
        <li class="priceCard_item">
            <p class="priceCard_item_title">Yearly Price</p>
            <p class="priceCard_item_value">39,99$</p>
        </li>
        <li class="priceCard_item">
            <p class="priceCard_item_title">Max. Number of accounts associated</p>
            <p class="priceCard_item_value">50</p>
        </li>
        <li class="priceCard_item">
            <p class="priceCard_item_title">Max. Number of accounts associated</p>
            <p class="priceCard_item_value">50</p>
        </li>
        <li class="priceCard_item">
            <p class="priceCard_item_title">Max. Number of accounts associated</p>
            <p class="priceCard_item_value">50</p>
        </li>
    </ul>
</div>
