@using SageOwl.UI.ViewModels
@model ProfileInfoViewModel

<div class="profile">
    <div class="profile_img">
        JO
    </div>
    <div class="profile_info">
        <p class="profile_info_name">@Model.Name</p>
        <p class="profile_info_username">@($"@{Model.Username}")</p>
    </div>
</div>
