.qualification_table {
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 200px;
}

.qualification_table th,
.qualification_table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align:center;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}