.sideBar {
    width: 360px;
    height: 100vh;
    background-color: #A03E37;
    padding: 16px 0;
    overflow-y: auto;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideBar_logo {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

    .sideBar_logo:hover {
        cursor: pointer;
    }

.menuShadow {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

.sideBar_item {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    padding-left: 16px;
    align-items: center;
    text-decoration: none;
    border:none;
    background-color:transparent;
    gap:10px;
}

.sideBar_item_text {
    color: white;
    font-size: 22px;
}

.sideBar_item i {
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
}

.sideBar_item:hover {
    background-color: #BF5F58;
    cursor: pointer;
}

.sideBar_menu_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
}

.menuToggle {
    border-radius: 10px;
    display: none;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #A03E37;
    z-index: 500;
}

.menuIcon {
    font-size: 26px;
    color: white;
}

@media only screen and (max-width:1024px) {
    .sideBar{
        position:fixed;
        top:0;
        width:100%;
        display:none;
    }

    .sideBar_item {
        justify-content: center;
    }

    .sideBar_item i {
        display: none;
    }

    .sideBar_item_text {
        font-size: 26px;
    }

    .menuToggle{
        display:block;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .sideBar {
        width: 400px;
        height:1000px;
    }

    .menuToggle{
        display:block;
    }

    .sideBar_menu_top{
       justify-content:space-between;
    }
}
