@using SageOwl.UI.ViewModels.UI

<div class="sideBar" id="sidebar">
    <div class="sideBar_menu_top">
        <p class="sideBar_logo">SageOwl</p>
        <button class="menuToggle intern_btn">
            <i class=" menuIcon fa-solid fa-bars"></i>
        </button>
    </div>
    <div class="sideBar_menu">
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_SideBarItem.cshtml", new SideBardItemViewModel { IconCode = "fa-solid fa-house", Text = "Home", Url = Url.Action("Index", "Workspace") })
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_SideBarItem.cshtml", new SideBardItemViewModel { IconCode = "fa-solid fa-users", Text = "Teams", Url = Url.Action("Teams", "Workspace") })
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_SideBarItem.cshtml", new SideBardItemViewModel { IconCode = "fa-solid fa-file-lines", Text = "Forms", Url = Url.Action("Forms", "Workspace") })
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_SideBarItem.cshtml", new SideBardItemViewModel { IconCode = "fa-solid fa-chart-line", Text = "Qualifications", Url = Url.Action("Index", "Workspace") })
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_SideBarItem.cshtml", new SideBardItemViewModel { IconCode = "fa-solid fa-message", Text = "Messages", Url = Url.Action("Index", "Workspace") })
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_SideBarItem.cshtml", new SideBardItemViewModel { IconCode = "fa-solid fa-money-bill-wave", Text = "Plans", Url = Url.Action("Index", "Workspace") })
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_SideBarItem.cshtml", new SideBardItemViewModel { IconCode = "fa-solid fa-gear", Text = "Settings", Url = Url.Action("Index", "Workspace") })
    </div>
</div>
