.sideBar {
    width: 250px;
    height: 100vh;
    background: #F66A45;
    background: -webkit-linear-gradient(-45deg, #BE4626, #F66A45 );
    background: linear-gradient(-45deg, #BE4626, #F66A45 );
    padding: 24px 8px;
    overflow-y: auto;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.sideBar_logo {
    font-weight: bold;
    font-size: 26px;
    color: white;
}

    .sideBar_logo:hover {
        cursor: pointer;
    }

.menuShadow {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

.sideBar_menu_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    padding:0 20px;
}

.menuToggle {
    border-radius: 10px;
    display: none;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #A03E37;
    z-index: 500;
}

.menuIcon {
    font-size: 26px;
    color: white;
}

.sideBar_menu{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.intern_btn{
    background-color:transparent;
    display:none;
}

@media only screen and (max-width:1024px) {
    .sideBar{
        position:fixed;
        top:0;
        width:100%;
        display:none;
    }

    .menuToggle{
        display:block;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .sideBar {
        width: 400px;
        height:1000px;
    }

    .menuToggle{
        display:block;
    }

    .sideBar_menu_top{
       justify-content:space-between;
    }
}
