@model SageOwl.UI.Models.CurrentTeam

<div class="team_navigation">
    <a class="team_navigation_item" href="/team/@Model.TeamId/mainpage">MainPage</a>
    <a class="team_navigation_item" href="/team/@Model.TeamId/announcements">Announcements</a>
    <a class="team_navigation_item" href="/team/@Model.TeamId/forms">Forms</a>
    <a class="team_navigation_item" href="/team/@Model.TeamId/qualifications">Qualifications</a>
    <a class="team_navigation_item" href="/team/@Model.TeamId/description">Description</a>
</div>
