* {
    padding: 0;
    margin: 0;
}

.team_navigation{
    display:flex;
    flex-direction:column;
    gap:16px;
    padding:0 16px;
    position:relative;
}

.team_navigation_header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.team_navigation_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #E6542D;
    width:180px;
    border-radius:12px;
    position:absolute;
    top:0;
    right:70px;
    padding:12px 16px;
    display:none;
}

.team_navigation_item {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

    .team_navigation_item:hover,
    .team_navigation_item:active {
        color: White;
    }

.team_navigation_header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.team_navigation_header_info p {
    font-size: 24px;
    font-weight: bold;
}

.nav-icon {
    font-size: 24px;
}

@media (max-width:1024px){
    .team_navigation_menu {
        top: 46px;
        right: 20px;
    }
}