@model SageOwl.UI.ViewModels.Teams.GetTeamViewModel

<style>
    .team_navigation_button {
        display:flex;
        justify-content:center;
        align-items:center;
        background-color: #BE4626;
        color:white;
        height:40px;
        width:40px;
        border-radius:12px;
        cursor:pointer;
        text-decoration:none;
    }

    .team_navigation_button:hover,
    .team_navigation_button:active {
        transform: scale(1.03);
        color:white;
            background-color: #99341D;
    }
</style>

<div class="team_navigation">
    <div class="team_navigation_header">
        <div class="team_navigation_header_info">
            <i class="nav-icon fas fa-chevron-left" data-url="@Model.Url" style="cursor:pointer;"></i>
            <p>@Model.Name</p>
        </div>
        <a class="team_navigation_button">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>

    <div class="team_navigation_menu">
        <a class="team_navigation_item" href="/team/@Model.TeamId/mainpage">MainPage</a>
        <a class="team_navigation_item" href="/team/@Model.TeamId/announcements">Announcements</a>
        <a class="team_navigation_item" href="/team/@Model.TeamId/forms">Forms</a>
        @if (Model.IsAdmin)
        {
            <a class="team_navigation_item" href="/team/@Model.TeamId/qualifications">Qualifications</a>
            <a class="team_navigation_item" href="/team/@Model.TeamId/update">Edit Team</a>
        }
        <a class="team_navigation_item" href="/team/@Model.TeamId/description">Description</a>
    </div>
</div>
