@{
    ViewBag.Title = "Create Form";
    Layout = "~/Views/Shared/Layouts/_WorkspaceLayout.cshtml";
}

<main class="settings_main">
    <div class="settings_data_container">
        <h5>Update Personal Data</h5>
        <div>
            <label>Name:</label>
            <input />
        </div>

        <div>
            <label>Surname:</label>
            <input />
        </div>

        <div>
            <label>Username:</label>
            <input />
        </div>
    </div>
    <div class="settings_data_container">
        <h5>Update Account</h5>
        <div>
            <label>Email:</label>
            <input />
        </div>

        <div>
            <label>Password:</label>
            <input />
        </div>

        <div>
            <label>Confirm Password:</label>
            <input />
        </div>

    </div>

    <div class="settings_buttons">
        <button class="settings_delete_button">
            Delete Account
        </button>
        <button class="settings_update_button">
            Update Data
        </button>
    </div>

</main>